<html>
  <head>
    <style type="text/css">
      /*!
      * Cropper.js v1.5.9
      * https://fengyuanchen.github.io/cropperjs
      *
      * Copyright 2015-present Chen Fengyuan
      * Released under the MIT license
      *
      * Date: 2020-09-10T13:16:21.689Z
      */
      .cropper-container {
        direction: ltr;
        font-size: 0;
        line-height: 0;
        position: relative;
        -ms-touch-action: none;
        touch-action: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .cropper-container img {
        display: block;
        height: 100%;
        image-orientation: 0deg;
        max-height: none !important;
        max-width: none !important;
        min-height: 0 !important;
        min-width: 0 !important;
        width: 100%;
      }
      .cropper-canvas,
      .cropper-crop-box,
      .cropper-drag-box,
      .cropper-modal,
      .cropper-wrap-box {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
      .cropper-canvas,
      .cropper-wrap-box {
        overflow: hidden;
      }
      .cropper-drag-box {
        background-color: #fff;
        opacity: 0;
      }
      .cropper-modal {
        background-color: #000;
        opacity: 0.5;
      }
      .cropper-view-box {
        display: block;
        height: 100%;
        outline: 1px solid #39f;
        outline-color: rgba(51, 153, 255, 0.75);
        overflow: hidden;
        width: 100%;
      }
      .cropper-dashed {
        border: 0 dashed #eee;
        display: block;
        opacity: 0.5;
        position: absolute;
      }
      .cropper-dashed.dashed-h {
        border-bottom-width: 1px;
        border-top-width: 1px;
        height: 33.33333%;
        left: 0;
        top: 33.33333%;
        width: 100%;
      }
      .cropper-dashed.dashed-v {
        border-left-width: 1px;
        border-right-width: 1px;
        height: 100%;
        left: 33.33333%;
        top: 0;
        width: 33.33333%;
      }
      .cropper-center {
        display: block;
        height: 0;
        left: 50%;
        opacity: 0.75;
        position: absolute;
        top: 50%;
        width: 0;
      }
      .cropper-center:after,
      .cropper-center:before {
        background-color: #eee;
        content: " ";
        display: block;
        position: absolute;
      }
      .cropper-center:before {
        height: 1px;
        left: -3px;
        top: 0;
        width: 7px;
      }
      .cropper-center:after {
        height: 7px;
        left: 0;
        top: -3px;
        width: 1px;
      }
      .cropper-face,
      .cropper-line,
      .cropper-point {
        display: block;
        height: 100%;
        opacity: 0.1;
        position: absolute;
        width: 100%;
      }
      .cropper-face {
        background-color: #fff;
        left: 0;
        top: 0;
      }
      .cropper-line {
        background-color: #39f;
      }
      .cropper-line.line-e {
        cursor: ew-resize;
        right: -3px;
        top: 0;
        width: 5px;
      }
      .cropper-line.line-n {
        cursor: ns-resize;
        height: 5px;
        left: 0;
        top: -3px;
      }
      .cropper-line.line-w {
        cursor: ew-resize;
        left: -3px;
        top: 0;
        width: 5px;
      }
      .cropper-line.line-s {
        bottom: -3px;
        cursor: ns-resize;
        height: 5px;
        left: 0;
      }
      .cropper-point {
        background-color: #39f;
        height: 5px;
        opacity: 0.75;
        width: 5px;
      }
      .cropper-point.point-e {
        cursor: ew-resize;
        margin-top: -3px;
        right: -3px;
        top: 50%;
      }
      .cropper-point.point-n {
        cursor: ns-resize;
        left: 50%;
        margin-left: -3px;
        top: -3px;
      }
      .cropper-point.point-w {
        cursor: ew-resize;
        left: -3px;
        margin-top: -3px;
        top: 50%;
      }
      .cropper-point.point-s {
        bottom: -3px;
        cursor: s-resize;
        left: 50%;
        margin-left: -3px;
      }
      .cropper-point.point-ne {
        cursor: nesw-resize;
        right: -3px;
        top: -3px;
      }
      .cropper-point.point-nw {
        cursor: nwse-resize;
        left: -3px;
        top: -3px;
      }
      .cropper-point.point-sw {
        bottom: -3px;
        cursor: nesw-resize;
        left: -3px;
      }
      .cropper-point.point-se {
        bottom: -3px;
        cursor: nwse-resize;
        height: 20px;
        opacity: 1;
        right: -3px;
        width: 20px;
      }
      @media (min-width: 768px) {
        .cropper-point.point-se {
          height: 15px;
          width: 15px;
        }
      }
      @media (min-width: 992px) {
        .cropper-point.point-se {
          height: 10px;
          width: 10px;
        }
      }
      @media (min-width: 1200px) {
        .cropper-point.point-se {
          height: 5px;
          opacity: 0.75;
          width: 5px;
        }
      }
      .cropper-point.point-se:before {
        background-color: #39f;
        bottom: -50%;
        content: " ";
        display: block;
        height: 200%;
        opacity: 0;
        position: absolute;
        right: -50%;
        width: 200%;
      }
      .cropper-invisible {
        opacity: 0;
      }
      .cropper-bg {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
      }
      .cropper-hide {
        display: block;
        height: 0;
        position: absolute;
        width: 0;
      }
      .cropper-hidden {
        display: none !important;
      }
      .cropper-move {
        cursor: move;
      }
      .cropper-crop {
        cursor: crosshair;
      }
      .cropper-disabled .cropper-drag-box,
      .cropper-disabled .cropper-face,
      .cropper-disabled .cropper-line,
      .cropper-disabled .cropper-point {
        cursor: not-allowed;
      }
    </style>
    <style type="text/css">
      .bh-avatar-upload[data-v-335eee6d] {
        display: inline-block;
      }
      .bh-emapAvatar-upload[data-v-335eee6d] {
        position: relative;
        display: block;
      }
      .bh-emapAvatar-upload input[data-v-335eee6d] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      .cropper-buttons[data-v-335eee6d] {
        width: 100%;
        position: absolute;
        right: 0;
        border-top: 1px solid #ebedf0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .cropper-button[data-v-335eee6d] {
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        padding: 20px;
      }
      .preview-wrap[data-v-335eee6d] {
        background-color: #000;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
      }
      .preview-wrap .preview-wrap-header[data-v-335eee6d] {
        position: relative;
        height: 46px;
        line-height: 46px;
        color: #fff;
        text-align: center;
        border-bottom: 1px solid #ebedf0;
      }
      .preview-wrap .preview-wrap-header .left[data-v-335eee6d] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
      }
      .preview-wrap .preview-wrap-header .left .iconfont[data-v-335eee6d] {
        position: absolute;
        left: -20px;
        right: -20px;
        top: 0;
        bottom: 0;
      }
      .preview-wrap .preview-wrap-header .right[data-v-335eee6d] {
        position: absolute;
        top: 0;
        right: 20px;
      }
      .preview-wrap .preview-wrap-header .iconfont[data-v-335eee6d] {
        font-size: 24px;
      }
      .preview-wrap .preview-wrap-header .file-label[data-v-335eee6d] {
        position: absolute;
        left: -20px;
        right: -20px;
        top: 0;
        bottom: 0;
        opacity: 0;
      }
      .preview-wrap .preview-wrap-header [type="file"][data-v-335eee6d] {
        background: hsla(0, 0%, 100%, 0);
        overflow: hidden;
        position: fixed;
        width: 1px;
        height: 1px;
        z-index: -1;
        opacity: 0;
      }
      .preview-wrap-content[data-v-335eee6d] {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .preview-wrap-content .preview-img[data-v-335eee6d] {
        display: block;
        width: 100%;
        height: auto;
      }
      .vue-cropper-wrapper[data-v-335eee6d] {
        background-color: #000;
      }
      .vue-cropper[data-v-335eee6d] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
      }
    </style>
    <style type="text/css">
      .__em-textarea textarea[readonly="readonly"] {
        resize: none;
      }
      .emapm-form.emapm-form-readonly
        .mint-cell-group
        .mint-cell-group-content
        .emapm-item
        .__em-textarea
        .mint-cell
        .mint-cell-wrapper {
        align-items: baseline !important;
      }
      .__em-textarea .mint-textarea .mint-cell-wrapper .mint-cell-value {
        width: 100%;
      }
      .mt-cell-diy-span {
        word-break: break-all;
      }
    </style>
    <style type="text/css">
      .mint-selected-footer.__emapm[data-v-7764dceb] {
        z-index: 2;
        position: absolute;
      }
      .mint-selected-footer-list-mask[data-v-7764dceb] {
        background-color: rgba(0, 0, 0, 0.5);
      }
      .mint-selected-footer-list-container[data-v-7764dceb] {
        background-color: #fff;
      }
    </style>
    <style type="text/css">
      .slip-enter-active[data-v-c28dd806],
      .slip-leave-active[data-v-c28dd806] {
        transition: transform 0.25s;
      }
      .slip-enter[data-v-c28dd806],
      .slip-leave-to[data-v-c28dd806] {
        transform: translateX(100%);
      }
      .selector-pick-container[data-v-c28dd806] {
        position: fixed;
        width: 100vw;
        height: 100%;
        left: 0;
        top: 0;
        overflow: auto;
        background-color: #f9f9f9;
        z-index: 999;
      }
    </style>
    <style type="text/css">
      .selector-pick-container
        .mint-box-group
        .mint-cell-group
        .mint-cell-group-content
        .mint-cell:first-child
        .mint-cell-wrapper[data-v-687a3f65] {
        border-top: none;
      }
    </style>
    <style type="text/css">
      .vf-h {
        overflow: hidden !important;
      }
    </style>
    <style type="text/css">
      .emapm-date-picker .mint-picker-column__frame {
        position: absolute;
      }
    </style>
    <style type="text/css">
      .__em-selectlist .mint-picker-column__frame {
        position: absolute;
      }
      .__em-selectlist .__em-selectlist-group {
        max-height: 250px;
        overflow: auto;
      }
    </style>
    <style type="text/css">
      .cancel_btn_class,
      .confirm_btn_class {
        font-size: 14px;
      }
    </style>
    <style type="text/css">
      .bh-upload-wrap[data-v-6dab889a] {
        position: relative;
        width: 100%;
      }
      .bh-upload_required[data-v-6dab889a] {
        color: red;
      }
      .upload_item[data-v-6dab889a] {
        display: inline-block;
        width: 75px;
        height: 75px;
        margin: 0 8px 12px 0;
        position: relative;
        vertical-align: top;
      }
      .upload_item_none[data-v-6dab889a] {
        line-height: 75px;
        margin: 0;
      }
      .cancel_upload_img[data-v-6dab889a] {
        position: absolute;
        top: -13px;
        right: -7px;
        font-size: 18px;
      }
      .upload_img[data-v-6dab889a] {
        width: 75px;
        height: 75px;
      }
      .upload_img_wrong[data-v-6dab889a] {
        width: 100px;
        margin: 0;
        line-height: 75px;
      }
      .bh-upload-wrap .color-pdf[data-v-6dab889a] {
        color: #f26666;
      }
      .bh-upload-wrap .color-doc[data-v-6dab889a] {
        color: #4a90e2;
      }
      .bh-upload-wrap .color-xlsx[data-v-6dab889a] {
        color: #a2d06b;
      }
      .bh-upload-wrap .color-ppt[data-v-6dab889a] {
        color: #f26666;
      }
      .bh-upload-wrap .color-zip[data-v-6dab889a] {
        color: #92969c;
      }
      .bh-upload-wrap .color-others[data-v-6dab889a] {
        color: #ffb950;
      }
    </style>
    <style type="text/css">
      .emapm-upload-imgs[data-v-5248aa74] {
        padding-bottom: 0;
      }
    </style>
    <style type="text/css">
      .__em-attachment-list[data-v-1c0e22db] {
        padding-left: 1px;
      }
      .__em-attachment-list .iconfont[data-v-1c0e22db] {
        font-size: 32px;
        vertical-align: middle;
        margin-right: 8px;
      }
      .__em-attachment-list-title[data-v-1c0e22db] {
        padding: 8px 0;
      }
      .__em-attachment-list .file-info[data-v-1c0e22db] {
        flex: 1;
      }
      .__em-attachment-list .color-pdf[data-v-1c0e22db] {
        color: #f26666;
      }
      .__em-attachment-list .color-doc[data-v-1c0e22db] {
        color: #4a90e2;
      }
      .__em-attachment-list .color-xlsx[data-v-1c0e22db] {
        color: #a2d06b;
      }
      .__em-attachment-list .color-ppt[data-v-1c0e22db] {
        color: #f26666;
      }
      .__em-attachment-list .color-zip[data-v-1c0e22db] {
        color: #92969c;
      }
      .__em-attachment-list .color-others[data-v-1c0e22db] {
        color: #ffb950;
      }
      .__em-file-info_size[data-v-1c0e22db] {
        margin-top: 4px;
        font-size: 14px;
        color: #92969c;
      }
      .__em-file-info[data-v-1c0e22db] {
        width: calc(100% - 40px);
      }
      .__em-file-info > p[data-v-1c0e22db] {
        margin: 0;
        padding: 1px 0 0;
      }
      .__em-file-info .__em-file-info_name[data-v-1c0e22db] {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 4px;
      }
      .__em-img-icon[data-v-1c0e22db] {
        height: 32px;
        width: 30px;
        margin-right: 8px;
      }
      .emapm-form.emapm-form-readonly
        .__em-attachment-list-title[data-v-1c0e22db] {
        padding: 6px 0;
        font-size: 14px;
      }
      .emapm-form.emapm-form-readonly .__em-attachment-list[data-v-1c0e22db] {
        padding-left: 0;
      }
      .__em-attachment-list .icon-tianjia[data-v-1c0e22db] {
        position: relative;
        color: #52c7ca;
      }
      .__em-attachment-list .upload-file-wrap[data-v-1c0e22db] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
      }
    </style>
    <style type="text/css">
      .__em-attachment-list .mint-cell-title {
        display: flex;
        align-items: center;
      }
    </style>
    <style type="text/css">
      .emapm-form input,
      .emapm-form span,
      .emapm-form textarea {
        font-family: PingFang SC, Microsoft YaHei, Times New Roman;
      }
      .emapm-form
        .mint-cell-group
        > .emapm-item
        .mint-cell:first-child
        .mint-cell-wrapper {
        border-top: 0.5px solid #e8e8e8;
      }
      .emapm-form .mint-cell .mint-cell-value {
        padding: 8px 0;
      }
      .emapm-form .select-value {
        text-align: left;
      }
      .emapm-item {
        position: relative;
      }
      .emapm-item .mint-field .mint-cell-value.mt-color-grey-lv3 input {
        color: inherit;
      }
      .emapm-form .mint-cell-group .emapm-item:first-child .mint-cell-wrapper {
        border-top: none;
      }
      .emapm-form .mint-cell-group-title {
        padding: 12px 20px;
      }
      .emapm-form input::-webkit-input-placeholder {
        font-weight: 400 !important;
      }
      .emapm-form input:-moz-placeholder,
      .emapm-form input::-moz-placeholder {
        font-weight: 400 !important;
      }
      .emapm-form input:-ms-input-placeholder {
        font-weight: 400 !important;
      }
      .emapm-form input,
      .emapm-form input:focus {
        font-weight: 400 !important;
      }
      .emapm-form.emapm-form-readonly .mint-cell-group-title {
        padding: 16px 20px;
        font-size: 16px;
        line-height: 16px;
        color: #1e2329;
        background-color: #fff !important;
      }
      .emapm-form.emapm-form-readonly
        .mint-cell-group
        .mint-cell-group-content
        .emapm-item
        .mint-cell {
        min-height: 0;
        padding: 6px 0;
      }
      .emapm-form.emapm-form-readonly
        .mint-cell-group
        .mint-cell-group-content
        .emapm-item
        .mint-cell
        .mint-cell-wrapper {
        border-top-style: none;
        font-size: 14px;
      }
      .emapm-form.emapm-form-readonly .mint-cell .mint-cell-value {
        padding: 0;
      }
      .emapm-form.emapm-form-readonly
        .mint-cell
        .mint-cell-value
        .em-select-value,
      .emapm-form.emapm-form-readonly
        .mint-cell
        .mint-cell-value
        .mt-cell-diy-span {
        color: #1e2329 !important;
      }
      .emapm-form.emapm-form-readonly .mint-cell-group-content {
        padding-bottom: 10px;
      }
      .emapm-form.emapm-form-readonly .mint-hairline--top-bottom:after {
        border-bottom-width: 1px;
        border-top-width: 0;
        border-color: #e8e8e8;
      }
      .emapm-form.emapm-form-readonly
        .mint-cell-group
        .emap-cellgroup-hastitle
        + .mint-cell-group-content
        .emapm-item:first-child {
        padding-top: 10px;
        border-top: 1px solid #f4f4f4;
      }
      .emapm-form.emapm-form-readonly .mint-cell-group .emap-cellgroup-notitle {
        padding: 0;
      }
      .emapm-form.emapm-form-readonly
        .mint-cell-group
        .emap-cellgroup-notitle
        + .mint-cell-group-content
        .emapm-item:first-child {
        padding-top: 16px;
      }
      .emapm-form.emapm-form-readonly .em-select-value,
      .emapm-form.emapm-form-readonly .mt-cell-diy-span {
        line-height: 16px;
      }
      .emapm-form.emapm-form-readonly .emapm-divide {
        height: 10px;
        border-bottom: 1px solid #f4f4f4;
      }
    </style>
    <!-- <style>
      .mint-layout-spacing{
        background-color: #fff;
      }
    </style> -->

    <link
      rel="stylesheet"
      href="http://res.ccit.js.cn/bh_components/mobile/1.0.0/bh-lib.min.css"
    />
    <link
      rel="stylesheet"
      href="http://res.ccit.js.cn/fe_components/iconfont_mobile/iconfont.css"
    />
    <link
      rel="stylesheet"
      href="http://res.ccit.js.cn/fe_components/iconfont_xg/iconfont.css"
    />

    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./mob.css" />
    <link
      rel="stylesheet"
      href="http://res.ccit.js.cn/fe_components/skins/mint2.0/skin.css"
    />
    <link
      rel="stylesheet"
      href="http://res.ccit.js.cn/fe_components/mobile/MINT/style.min.css"
    />
    <link
      rel="stylesheet"
      href="http://res.ccit.js.cn/bower_components/cropper/cropper.min.css"
    />
  </head>
  <body>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <div id="app">
      <!---->
      <div>
        <div class="mint-layout-container pjbcydyxy">
          <div class="mint-layout-container pjavwx8zi"></div>
          <div class="mint-layout-container tjavtsl6c">
            <div
              class="mint-layout-spacing sjakx3nec"
              style="height: 15px"
            ></div>
            <div class="mint-layout-container cjarutg5r">
              <div class="mint-hr" style="background: rgb(232, 232, 232)"></div>
              <% if (data.status=='已销假') { %>
                <div
                class="mint-layout-container sfxj-class"
                
              >
                <img
                  src="https://wqby-1304194722.cos.ap-nanjing.myqcloud.com/img/icon_ok.png"
                  alt="已销假"
                  style="width: 25px; position: relative; left: 20px; top: 6px"
                />
                <span id="sfxj">已销假</span>
              </div>
              <% } %>
              
              <div class="emapm-form emapm-form-readonly">
                <div class="emapm-items">
                  <div class="mint-cell-group mt-bg-lv2">
                    <!---->
                    <div
                      class="mint-cell-group-content mint-hairline--top-bottom mt-bg-white mt-bColor-after-grey-lv5"
                    >
                      <div class="emapm-item">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >学号</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  <%=data.sNumber%>
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >姓名</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  <%=data.sName%>
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div data-v-687a3f65="">
                          <a
                            data-v-687a3f65=""
                            class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >院系</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div
                                  data-v-687a3f65=""
                                  class="em-select-value mt-color-grey-lv3"
                                >
                                  <%=data.sAcademy%>
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div data-v-687a3f65="">
                          <a
                            data-v-687a3f65=""
                            class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >班级</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div
                                  data-v-687a3f65=""
                                  class="em-select-value mt-color-grey-lv3"
                                >
                                  <%=data.sClass%>
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div data-v-687a3f65="">
                          <a
                            data-v-687a3f65=""
                            class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >请假类型</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div
                                  data-v-687a3f65=""
                                  class="em-select-value mt-color-grey-lv3"
                                >
                                  <%=data.sType%>
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >请假去向</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  江苏省/常州市/武进区
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div data-v-687a3f65="">
                          <a
                            data-v-687a3f65=""
                            class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >出行交通工具</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div
                                  data-v-687a3f65=""
                                  class="em-select-value mt-color-grey-lv3"
                                >
                                  其它
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >车次/航班号/车牌号/地铁公交线路</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div
                                  class="em-select-value mt-color-grey-lv3"
                                ></div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >请假日期</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  <%=data.sDate%>
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item" style="display: none">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >请假开始日期</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  2022-05-30
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item" style="display: none">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >请假结束日期</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  2022-05-30
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >请假天数</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  <%=data.sDays%>
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div class="__em-textarea __em-textarea-readonly">
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >请假事由</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <span class="mt-color-grey-lv3 mt-cell-diy-span"
                                  ><%=data.sReason%></span
                                >
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item" style="display: none">
                        <div data-v-687a3f65="">
                          <a
                            data-v-687a3f65=""
                            class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >请假性质</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div
                                  data-v-687a3f65=""
                                  class="em-select-value mt-color-grey-lv3"
                                ></div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item" style="display: none">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >WID</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  aaf99d83e0e54972a35dfba3a3439d69
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item" style="display: none">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >申请编号</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  56fce67c03d34f419af85a320f453a9c
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div data-v-687a3f65="">
                          <a
                            data-v-687a3f65=""
                            class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >审核状态</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div
                                  data-v-687a3f65=""
                                  class="em-select-value mt-color-grey-lv3"
                                >
                                  已通过
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div data-v-1c0e22db="" class="__em-attachment-list">
                          <p
                            data-v-1c0e22db=""
                            class="__em-attachment-list-title mt-color-grey-lv3"
                          >
                            证明材料
                          </p>
                          <p
                            data-v-1c0e22db=""
                            class="__em-attachment-list-title mt-color-grey-lv3"
                          >
                            暂无数据
                          </p>
                        </div>
                      </div>
                      <div class="emapm-item">
                        <div>
                          <a class="mint-cell mt-bg-white mt-bColor-grey-lv5"
                            ><!---->
                            <div class="mint-cell-left"></div>
                            <div
                              class="mint-cell-wrapper mt-bColor-grey-lv5 mint-cell-no-bottom-line"
                              style="padding-right: 20px"
                            >
                              <div
                                class="mint-cell-title"
                                style="flex: 1 1 96px; min-width: 96px"
                              >
                                <!----><!----><span
                                  class="mint-cell-text mt-color-grey-lv3"
                                  >手机号</span
                                ><!---->
                              </div>
                              <div
                                class="mint-cell-value mt-color-grey-lv3"
                                style="
                                  flex: 1 1 calc(100% - 96px);
                                  justify-content: normal;
                                "
                              >
                                <div class="em-select-value mt-color-grey-lv3">
                                  <%=data.sPhone%>
                                </div>
                              </div>
                              <!---->
                            </div>
                            <div class="mint-cell-right"></div
                          ></a>
                          <!---->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mint-hr" style="background: rgb(232, 232, 232)"></div>
              <div
                class="mint-layout-spacing sjakx3i5n"
                style="height: 15px"
              ></div>
              <div class="mint-layout-container bh-bg-color-light cjas1u9dg">
                <div
                  class="mint-hr"
                  style="background: rgb(232, 232, 232)"
                ></div>
                <div
                  class="mint-layout-container"
                  style="padding: 16px 20px !important"
                >
                  <div class="mint-layout-lr">
                    <div
                      position="left"
                      class="mint-layout-lr-item mint-layout-container"
                    >
                      <div class="mint-text mt-color-default">审核流程</div>
                    </div>
                  </div>
                </div>
                <div
                  class="mint-hr OCjas22nkj"
                  style="background: rgb(232, 232, 232)"
                ></div>
                <div
                  class="OCjauorj8v mint-steps mt-bg-white mint-steps--vertical"
                  selected="selected"
                >
                  <!---->
                  <div
                    class="mint-steps__items mint-steps__items--alone"
                    style="padding-left: 150px"
                  >
                    <div
                      class="mint-step bh-color-gray-3 mint-step--vertical mint-step--finish mt-color-grey-lv4"
                    >
                      <div class="mint-step__circle-container mt-bg-lv3">
                        <i
                          class="mint-icon mint-icon-checked iconfont icon-wancheng mt-color-primary"
                        ></i>
                      </div>
                      <div class="mint-step__time mt-color-grey-lv4">
                        <div
                          class="mint-text bh-color-gray-4 OCjaunojrmr mt-color-default"
                        >
                        <%=data.sSend%>
                        </div>
                      </div>
                      <div class="mint-step__title">
                        提交申请
                        <span class="bh-color-warning"> </span>
                      </div>
                      <div class="mint-step__line mt-bg-grey-lv6"></div>
                    </div>
                    <div
                      class="mint-step bh-color-gray-3 mint-step--vertical mint-step--finish mt-color-grey-lv4"
                    >
                      <div class="mint-step__circle-container mt-bg-lv3">
                        <i
                          class="mint-icon mint-icon-checked iconfont icon-wancheng mt-color-primary"
                        ></i>
                      </div>
                      <div class="mint-step__time mt-color-grey-lv4">
                        <div
                          class="mint-text bh-color-gray-4 OCjaunojrmr mt-color-default"
                        ></div>
                        <div
                          class="mint-text bh-color-gray-4 OCjaunojrmr mt-color-default"
                        >
                          <%=data.sStart%>
                        </div>
                      </div>
                      <div class="mint-step__title">
                        班主任审核
                        <span class="bh-color-warning"> </span>
                        <div>
                          <div class="mint-text OCjaunojrix mt-color-default">
                            通过
                          </div>
                          <div class="mint-text OCjaunojrix mt-color-default">
                            审核人：<%=data.teacherName%>
                          </div>
                          <div class="mint-text OCjaunojrix mt-color-default">
                            <pre>审核意见：已核实，情况属实，审核通过</pre>
                          </div>
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <div class="mint-step__line mt-bg-grey-lv6"></div>
                    </div>
                    <div
                      class="mint-step bh-color-gray-3 mint-step--vertical mint-step--finish mt-color-grey-lv4"
                      text="结束"
                    >
                      <div class="mint-step__circle-container mt-bg-lv3">
                        <i
                          class="mint-icon mint-icon-checked iconfont icon-wancheng mt-color-primary"
                        ></i>
                      </div>
                      <div class="mint-step__time mt-color-grey-lv4"></div>
                      <div class="mint-step__title">结束</div>
                      <div class="mint-step__line mt-bg-grey-lv6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mint-layout-spacing sjakx3i5n" style="height: 15px"></div>
          <div
            class="mint-layout-container sjal0wkw6 OPjbcyeo3s"
            style="display: none"
          >
            <button
              class="mint-button OSjal0ykai OPjbcyeo3t mt-btn-primary mint-button--normal"
              text="重新申请"
            >
              <!---->重新申请
            </button>
          </div>
          <% if (data.status!='已销假') { %>
            <div class="mint-layout-container sjal0wkw6" style="" onclick="destroy('<%=data.id%>')">
              <button
                class="mint-button OSjal0ykai OPjbcyeo3t mt-btn-default mint-button--normal"
                text="定位销假"
              >
                <!---->定位销假
              </button>
            </div>
          <% } %>
          <div class="mint-layout-spacing sjakx3i5n" style="height: 15px"></div>
        </div>
      </div>
      <div id="xsfw_yypjDiv" class="xsfwpjmob-nav" style="display: none">
        <div class="xsfwpjmob-nav-icon">
          <img
            src="https://wqby-1304194722.cos.ap-nanjing.myqcloud.com/img/pingjia.png"
          />
        </div>
      </div>
    </div>
  </body>
  <script>
    function destroy(id) {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", './destroy?id='+id, false); // false for synchronous request
      xmlHttp.send(null);
      console.log(xmlHttp.responseText); 
      var json = JSON.parse(xmlHttp.responseText);
      if(json.code==200){
        location.reload();
      }
    }
  </script>
</html>
